<!--

  Copyright (c)     

  The Verifiable & Control-Theoretic Robotics (VECTR) Lab
  University of California, Los Angeles

  Authors: Kenny J. Chen, Ryan Nemiroff, Brett T. Lopez
  Contact: {kennyjchen, ryguyn, btlopez}@ucla.edu

-->

<launch>

  <arg name="robot_namespace" default=""/>
  <arg name="rviz" default="true"/>

  <arg name="pointcloud_topic" default="/gt_box/hesai/points"/> 
  <!-- /gt_box/livox/imu_si_compliant -->
  <!-- <arg name="pointcloud_topic" default="/gt_box/livox/lidar"/> -->
  <!-- <arg name="pointcloud_topic" default="/gt_box/livox/lidar"/> -->
  <arg name="imu_topic" default="/gt_box/livox/imu_si_compliant"/>  
  <!-- /sensors/imu /gt_box/cpt7/offline_from_novatel_logs/imu /gt_box/alphasense_driver_node/imu /gt_box/ap20/imu /gt_box/livox/imu  (/gt_box/livox/imu_si_compliant)  /gt_box/adis16475_node/imu /gt_box/stim320/imu   ((?(DONT USEEE /gt_box/cpt7/gps/imu))))  /gt_box/zed2i/zed_node/imu/data-->

  <arg name="use_sim_time" default="true"/>

  <!-- ROS Param -->
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <!-- DLIO Odometry Node -->
  <node name="dlio_odom" pkg="direct_lidar_inertial_odometry" type="dlio_odom_node" output="screen" clear_params="true">

    <!-- Load parameters -->
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/dlio.yaml" command="load"/>
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/params.yaml" command="load"/>

    <!-- Subscriptions -->
    <remap from="~pointcloud" to="$(arg pointcloud_topic)"/>
    <remap from="~imu" to="$(arg imu_topic)"/>

    <!-- Publications -->
    <remap from="~odom"     to="dlio/odom_node/odom"/>
    <remap from="~pose"     to="dlio/odom_node/pose"/>
    <remap from="~path"     to="dlio/odom_node/path"/>
    <remap from="~kf_pose"  to="dlio/odom_node/keyframes"/>
    <remap from="~kf_cloud" to="dlio/odom_node/pointcloud/keyframe"/>
    <remap from="~deskewed" to="dlio/odom_node/pointcloud/deskewed"/>

  </node>

  <!-- DLIO Mapping Node -->
  <node name="dlio_map" pkg="direct_lidar_inertial_odometry" type="dlio_map_node" output="screen" clear_params="true">

    <!-- Load parameters -->
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/dlio.yaml" command="load"/>
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/params.yaml" command="load"/>

    <!-- Subscriptions -->
    <remap from="~keyframes" to="dlio/odom_node/pointcloud/keyframe"/>

    <!-- Publications -->
    <remap from="~map" to="dlio/map_node/map"/>

  </node>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="dlio_rviz" args="-d $(find direct_lidar_inertial_odometry)/launch/dlio.rviz" if="$(arg rviz)"/>

</launch>
