<launch>

  <!-- To disable all the effect of rosbag reading, set this as "" -->
  <arg name="input_rosbag_path" default="/home/tutuna/Videos/aesch_2_3/converted_pointcloud.bag"/>

  <!-- If left empty, default is used. -->
  <arg name="output_rosbag_folder_path" default="$(find direct_lidar_inertial_odometry)/data"/>
  <!-- <arg name="output_rosbag_folder_path" default=""/> -->

  <!-- Trailing .bag and prefix / is handled. No need to add. If left empty, default is used. -->
  <arg name="output_rosbag_name" default="dlio_replayed"/>
  <!-- <arg name="output_rosbag_name" default=""/> -->

  <!-- Input topics. Is rosbag is provided, frame names / calibration / rates will be read automatically. -->

  <!-- Options -->
  <arg name="pointcloud_topic" default="/gt_box/livox/lidar_converted"/> 
  <!-- <arg name="pointcloud_topic" default="/gt_box/livox/lidar"/> -->

  <arg name="imu_topic" default="/gt_box/livox/imu"/>

  <!-- Time offset to IMU for abliations , in micro seconds -->
  <arg name="abliation_time_offset" default="0.0"/>

  <!-- Translation offset to IMU for abliations , in millimeters -->
  <arg name="abliation_translation_offset" default="0.0"/>
  <arg name="abliation_translation_axis" default="x"/>

  <arg name="abliation_rotation_offset" default="0.0"/>
  <arg name="abliation_rotation_axis" default="x"/>
  <arg name="gravity" default="9.80665"/>

  <!-- Options -->
  <!-- 
  <arg name="imu_topic" default="/sensors/imu /gt_box/cpt7/offline_from_novatel_logs/imu"/>
  <arg name="imu_topic" default="/gt_box/alphasense_driver_node/imu"/>
  <arg name="imu_topic" default="/gt_box/ap20/imu"/>
  <arg name="imu_topic" default="/gt_box/livox/imu_si_compliant"/>
  <arg name="imu_topic" default="/gt_box/adis16475_node/imu"/>
  <arg name="imu_topic" default="/gt_box/zed2i/zed_node/imu/data"/>
  <arg name="imu_topic" default="/sensors/imu"/> 
  <arg name="imu_topic" default="/gt_box/livox/imu"/>
  -->

  <!-- Map generation is disabled by default. Pose of LiDAR is map is still available. -->
  <arg name="enable_map_generation" default="false"/>

  <!-- ROS Param -->
  <arg name="use_sim_time" default="true"/>
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- launch-prefix="gdb -ex run minus minus args"  -->
  <!-- DLIO Odometry Node  -->
  <arg name="robot_namespace" default="dlio"/>
  <node ns="$(arg robot_namespace)" name="dlio_odom" pkg="direct_lidar_inertial_odometry" type="dlio_odom_node" required="true" output="screen" clear_params="true">

    <!-- Load parameters -->
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/dlio_replay.yaml" command="load"/>
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/params_replay.yaml" command="load"/>

    <!-- Set input for rosbag based reading -->
    <param name="input_rosbag_path" value="$(arg input_rosbag_path)"/>
    <param name="output_rosbag_folder_path" value="$(arg output_rosbag_folder_path)"/>
    <param name="output_rosbag_name" value="$(arg output_rosbag_name)"/>
    <param name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
    <param name="imu_topic" value="$(arg imu_topic)"/>
    <param name="enable_map_generation" value="$(arg enable_map_generation)"/>
    <param name="abliation_time_offset" value="$(arg abliation_time_offset)"/>
    
    <param name="abliation_translation_offset" value="$(arg abliation_translation_offset)"/>
    <param name="abliation_translation_axis" value="$(arg abliation_translation_axis)"/>

    <param name="abliation_rotation_offset" value="$(arg abliation_rotation_offset)"/>
    <param name="abliation_rotation_axis" value="$(arg abliation_rotation_axis)"/>
    <param name="gravity" value="$(arg gravity)"/>

    <!-- Subscriptions -->
    <remap from="~pointcloud" to="$(arg pointcloud_topic)"/>
    <remap from="~imu" to="$(arg imu_topic)"/>

    <!-- Publications -->
    <!-- <remap from="~odom"     to="dlio/odom_node/odom"/>
    <remap from="~pose"     to="dlio/odom_node/pose"/>
    <remap from="~path"     to="dlio/odom_node/path"/>
    <remap from="~kf_pose"  to="dlio/odom_node/keyframes"/>
    <remap from="~kf_cloud" to="dlio/odom_node/pointcloud/keyframe"/> -->
    <remap from="~deskewed" to="dlio/odom_node/pointcloud/deskewed_pc_in_map_frame"/>

  </node>

  <group if="$(arg enable_map_generation)">
    <!-- DLIO Mapping Node -->
    <node ns="$(arg robot_namespace)" name="dlio_map" pkg="direct_lidar_inertial_odometry" type="dlio_map_node" required="true" output="screen" clear_params="true">

      <!-- Load parameters -->
      <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/dlio_replay.yaml" command="load"/>
      <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/params_replay.yaml" command="load"/>

      <!-- Subscriptions -->
      <remap from="~keyframes" to="dlio/odom_node/pointcloud/keyframe"/>

      <!-- Publications -->
      <remap from="~map" to="dlio/map_node/map"/>

    </node>
  </group>

</launch>
